<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Modeling</title>
</head>
<body>
    <form action = "http://localhost:5000/topics" method = "post">
        <label for="link">link produk</label><br>
        <input type="text" id="fname" name="link"><br>

        <label for="bintang">bintang</label><br>
        <input type="text" id="fname" name="bintang"><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>